@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-sans);

    --color-darkest: #09090b;
    --color-dark: #18181b;
    --color-gray-dark: #27272A;
    --color-gray-mid: #3f3f46;
    --color-gray-medium-dark: #71717A;
    --color-gray-medium: #878787;
    --color-gray-medium-light: #7d7d7d;
    --color-grayish: #d4d4d8;
    --color-gray: #e4e4e7;
    --color-lightest: #fbfbfb;
    --color-light: #f7f7f8;
    --color-purple: #7c3aed;
}

@layer base {
    body {
        font-optical-sizing: auto;
        font-variation-settings: "GRAD" 0;
        text-rendering: optimizeLegibility;
    }
}

@layer components {
}

@layer utilities {
    .scrollbar-hidden {
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
}